<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.protogenefactory.ioiomaster"
	android:versionCode="11"
	android:versionName="0.11">

    <!-- Client permissions -->
    <uses-permission android:name="android.permission.INTERNET"             />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Server permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <!-- API 14 = Android 4.0 from 2011 -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name=".client.BobApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name">

        <!-- ****** CLIENT ***** -->
        <activity
            android:name=".client.activities.ServerSelectionActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".client.activities.PlayActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".client.activities.ProjectListActivity"
			android:label="@string/app_name">
        </activity>

        <activity android:name=".client.activities.ProjectActivity" />

        <activity
            android:name=".client.activities.NewProjectActivity"
            android:label="New project" />

        <activity
            android:name=".client.activities.BoardConfigActivity"
            android:label="New board configuration" />

        <activity
            android:name=".client.activities.OffersActivity"
            android:label="Our special offers" />

        <activity
            android:name=".client.activities.NewsActivity"
            android:label="Latest news" />

        <!-- ****** SERVER ***** -->

        <service android:name=".server.services.ServerService" />

        <activity
            android:name=".server.activities.StatusActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />

        </activity>

        <!--
        <service android:name="net.majorkernelpanic.streaming.rtsp.RtspServer"/>

        <activity
            android:name=".server.VideoActivity"
            android:label="Remote video">
        </activity>
        -->


    </application>

</manifest>
