<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.dmconcept.bob.client" >

    <uses-permission android:name="android.permission.INTERNET"             />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19"
    />

    <application
        android:name=".BobApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".activities.activities.ProjectListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.activities.ServerIPSelectionActivity"
            android:label="Server IP">
        </activity>

        <activity android:name=".activities.ProjectActivity" />

        <activity android:name=".activities.NewProjectActivity" />

        <activity android:name=".activities.BoardConfigActivity" />

    </application>

</manifest>
