<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.dmconcept.bob" >

    <!-- IOIO Lib -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- AllJoyn -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".alljoyn.ChatApplication">

        <!-- XXX -->
        <activity
            android:name=".activities.PlaygroundActivity"
            android:label="Playground area">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name=".activities.AlljoynActivity"
            android:label="AllJoyn">
        </activity>
        <!-- XXX -->

        <activity
            android:name=".activities.ProjectListActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- IOIO -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" android:resource="@xml/accessory_filter" />
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />

        </activity>

        <activity android:name="fr.dmconcept.bob.activities.ProjectActivity"></activity>
        <activity android:name="fr.dmconcept.bob.activities.XoxoActivity"   ></activity>

        <service android:name=".alljoyn.AllJoynService" android:exported="false" />

    </application>


</manifest>
